@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


body, html {
    margin: 0;
    padding: 0;
}

.locked {
    height: 100vh;
    overflow: hidden;
}

input:-webkit-autofill::first-line {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

* {
    -webkit-font-smoothing: subpixel-antialiased;
}
